{% extends 'base.html' %}
{% block title %}
Relatório Fácil | Login
{% endblock %}
{% block pagecontent%}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'autenticacao/css/style.css'%}">
{% endblock %}
<div class="container-fluid">

    <div class="row">
        <div class="col-md-3 sidebar">
            <div class="logo_sidebar">

                <h2 class="logo">
                    <img class="img_logo_sidebar" src="{% static 'autenticacao/media/logo_01.png' %}">
                </h2>
                <div class="footerHomepage">
                    <p>Desenvolvido por: Ramon Gonçalves</p>
                    <a href="https://www.linkedin.com/in/ramon-gon%C3%A7alves-a900bb190/" target="_blank"><img class="imgFooter" src="{% static 'autenticacao/media/img_linkedin_01.png' %}" alt="Foto: Github"></a>
                    <a href="https://github.com/RamonTadeuGoncalves" target="_blank"><img class="imgFooter" src="{% static 'autenticacao/media/img_github_01.png' %}" alt="Foto: LinkedIn"></a>
                </div>

            </div>
        </div>

        <div class="col-md-9">
            <div class="area_cadastrar">
                {% if messages %}
                <br>
                {% for message in messages %}
                <div class="alert {{message.tags}}">
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                <h2 class="titulo">Seja bem vindo</h2>
                <p class="sub-titulo">Entre com sua conta</p>
                <hr>

                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group col-lg-6">
                        <label>Usuário:</label>
                        <input type="text" class="form-control" placeholder="Email" name="username">
                    </div>

                    <div class="form-group col-lg-6">
                        <label>Senha:</label>
                        <input type="password" class="form-control" placeholder="Senha" name="password">
                    </div>
                    <br>
                    <button class="btn-logar">Logar</button>

                </form>

            </div>

        </div>

    </div>

</div>
{% endblock %}