{% extends 'base.html' %}
{% block title%}
Pet Lab | Login
{% endblock%}
{% block pagecontent%}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'autenticacao/css/style.css'%}">
{% endblock %}
<div class="container-fluid">

    <div class="row">
        <div class="col-md-3 sidebar">
            <div class="logo_sidebar">

                <h2 class="logo">
                    <img class="img_logo_sidebar" src="{% static 'autenticacao/img/logo_pet_lab.png' %}">
                </h2>

            </div>


        </div>

        <div class="col-md-9">
            <div class="area_cadastrar">
                {% if messages %}
                <br>
                {% for message in messages %}
                <div class="alert {{message.tags}}">
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                <h2 class="titulo">Seja bem vindo</h2>
                <p class="sub-titulo">Entre com sua conta</p>
                <hr>

                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group col-lg-6">
                        <label>Usuário:</label>
                        <input type="text" class="form-control" placeholder="Usuário" name="username">
                    </div>

                    <div class="form-group col-lg-6">
                        <label>Senha:</label>
                        <input type="password" class="form-control" placeholder="Senha" name="password">
                    </div>
                    <br>
                    <button class="btn-first">Logar</button>

                </form>

<!--                <h3 style="position: absolute; bottom: 65px; font-weight: bold">Não tem uma conta ?&nbsp <a href="{% url 'cadastro' %}" class="btn btn-outline-success btn-lg">Registre-se</a> </h3>-->
            </div>

        </div>

    </div>


</div>
{% endblock %}
