{% extends 'base.html' %}
{% block title%}
Cadastro Atualizado
{% endblock%}
{% block pagecontent%}
{% load static %}
<div id="tituloPaginas">
    <p>CADASTRADO ATUALIZADO COM SUCESSO!</p>
</div>

<div class="containerformularioSalvo">

    <div class="row">
        <img class="imgFormularioSalvo" src="{% static '/media/img_salvo_01.png' %}">
    </div>
    <div class="row">
        <a id="formularioVoltar" class="btn btn-primary" href="/index/">OK</a>
    </div>
    <div class="formularioVoltar">
    </div>

</div>
{% endblock %}