{% extends 'base_plataforma.html' %}
{% block title%}
Relatório Fácil | Cadastro Atualizado
{% endblock%}
{% block pagecontent%}
{% load crispy_forms_tags %}
{% load static %}
<div class="container-fluid">
    <div class="area_cadastrar">
        <h2 class="titulo">Cadastro Atualizado com sucesso!!!</h2>
        <hr>
        <div class="containerDetalhesCadastro">
            <div class="row">
                <img class="imgFormularioSalvo" src="{% static 'plataforma/media/img_salvo_01.png' %}">
            </div>
            <div class="form-row">
                <div class="form-group col-lg-4"></div>
            </div>
            <div class="row">
                <div class="buttons_general botoes">
                    <a class="btn btn-outline-secondary btn-lg" href="/index/">Início</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}