{% extends 'base_plataforma.html' %}
{% block title%}
Relatório Fácil | Cadastrar Veículo
{% endblock%}
{% block pagecontent%}
{% load crispy_forms_tags %}
{% load static %}
<div class="container-fluid">

    <div class="row">
        <div class="col-md-9">
            <div class="area_cadastrar">
                <h2 class="titulo">Cadastro de Veículos</h2>
                <hr>
                <form class="form_cadastro" action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-5 text_form">
                            {{ form.veicRenavam|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-5 text_form">
                            {{ form.veicPlaca|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg text_form">
                            {{ form.veicFabricante|as_crispy_field }}
                        </div>
                        <div class="col-lg text_form">
                            {{ form.veicModelo|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-5 text_form">
                            {{ form.veicAno|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 text_form">
                            {{ form.veicCor|as_crispy_field }}
                        </div>
                    </div>
                    <div>
                        <p id="formularioBotao">*Campos Obrigatórios.</p>
                    </div>

                    <div class=" buttons_form_cadastro">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="col-lg-5 ">
                                    <button type="submit" class="btn btn-outline-success btn-lg">Cadastrar</button>
                                </div>
                            </div>

                            <div class="col-lg">
                                <div class="col-lg-5 ">
                                    <a class="btn btn-outline-secondary btn-lg" href="/index/">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}