{% extends 'base_plataforma.html' %}
{% block title%}
Relatório Fácil | Detalhes Cliente
{% endblock%}
{% block pagecontent%}
{% load crispy_forms_tags %}
{% load static %}
<div class="container-fluid">
    <div class="area_cadastrar">
        <h2 class="titulo">Detalhes do Cadastro</h2>
        <hr>
        <div class="containerDetalhesCadastro">

            <h1 id="tituloDetalhes">{{ item.clienteNome }}</h1>

            <div class="form-row">
                <div class="form-group col-lg-4">
                    <div class="detalhes_Matricula">
                        <h5 class="item_detalhe">Registro: {{ item.clienteRegistro }}</h5>
                        <h5 class="item_detalhe">CNPJ: {{item.clienteCnpj}}</h5>
                        <h5 class="item_detalhe">Razão Social: {{item.clienteRazaoSocial}}</h5>
                        <h5 class="item_detalhe">Segmento: {{item.clienteSegmento}}</h5>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="detalhes_Matricula">
                        <h5 class="item_detalhe">Rua: {{item.clienteEnderecoRua}}</h5>
                        <h5 class="item_detalhe">Número: {{item.clienteEnderecoNumero}}</h5>
                        <h5 class="item_detalhe">Complemento: {{item.clienteEnderecoComplemento}}</h5>
                        <h5 class="item_detalhe">Cidade: {{item.clienteEnderecoCidade}}</h5>
                        <h5 class="item_detalhe">Estado: {{item.clienteEnderecoEstado}}</h5>
                        <h5 class="item_detalhe">CEP: {{item.clienteEnderecoCep}}</h5>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="detalhes_Matricula">
                        <h5 class="item_detalhe">Telefone: {{item.clienteTelefone}}</h5>
                        <h5 class="item_detalhe">E-mail: {{item.clienteEmail}}</h5>
                        <h5 class="item_detalhe">Representante: {{item.clienteRepresentante}}</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="row botoes">
                        <div class="col-lg buttons_general">
                            <a class="btn btn-outline-success btn-lg" href="/relatorio_facil/listar_cliente/">Voltar</a>
                        </div>
                        <div class="col-lg buttons_general">
                            <a class="btn btn-outline-danger btn-lg" href="/relatorio_facil/excluir_cliente/{{item.pk}}/">Excluir</a>
                        </div>
                        <div class="col-lg buttons_general">
                            <a class="btn btn-outline-warning btn-lg" href="/relatorio_facil/editar_cliente/{{item.pk}}/">Editar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}