{% extends 'base_plataforma.html' %}
{% block title%}
Relatório Fácil | Editar Ordem de Serviço
{% endblock%}
{% block pagecontent%}
{% load crispy_forms_tags %}
{% load static %}
<div class="container-fluid">
    <div class="area_cadastrar">
        <h2 class="titulo">Editar Ordem de Serviço</h2>
        <hr>
        <form class="form_cadastro" action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg text_form">
                    {{ form.osFuncRegistro|as_crispy_field }}
                </div>
                <div class="col-lg text_form">
                    {{ form.osClienteRegistro|as_crispy_field }}
                </div>
                <div class="col-lg text_form">
                    {{ form.osVeicRegistro|as_crispy_field }}
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-lg-4 text_form">
                    {{ form.osTipoServico|as_crispy_field }}
                </div>
            </div>

            <div class="row">
                <div class="col-lg text_form_descricao">
                    {{ form.osDescricao|as_crispy_field }}
                </div>
            </div>
            <div>
                <p id="formularioBotao">*Campos Obrigatórios.</p>
            </div>

            <div>
                <div class="row">
                    <div class="col-lg-9"></div>
                    <div class="col-lg buttons_general ">
                        <button type="submit" class="btn btn-outline-success btn-lg">Salvar</button>
                    </div>
                    <div class="col-lg buttons_general ">
                        <a class="btn btn-outline-secondary btn-lg" href="/relatorio_facil/listar_os/">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}