{% extends 'base_plataforma.html' %}
{% block title%}
Relatório Fácil | Detalhes Funcionário
{% endblock%}
{% block pagecontent%}
{% load crispy_forms_tags %}
{% load static %}
<div class="container-fluid">
    <div class="area_cadastrar">
        <h2 class="titulo">Detalhes do Cadastro</h2>
        <hr>
        <div class="containerDetalhesCadastro">

            <h1 id="tituloDetalhes">{{ item.funcNome }}</h1>

            <div class="form-row">
                <div class="form-group col-lg-4">
                    <div class="detalhes_Matricula">
                        <h5 class="item_detalhe">Registro: {{ item.funcRegistro }}</h5>
                        <h5 class="item_detalhe">Função: {{item.funcFuncao}}</h5>
                        <h5 class="item_detalhe">Departamento: {{item.funcDpto}}</h5>
                        <h5 class="item_detalhe">CPF: {{item.funcCpf}}</h5>
                        <h5 class="item_detalhe">CNH: {{item.funcCnh}}</h5>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="detalhes_Matricula">
                        <h5 class="item_detalhe">Rua: {{item.funcEnderecoRua}}</h5>
                        <h5 class="item_detalhe">Número: {{item.funcEnderecoNumero}}</h5>
                        <h5 class="item_detalhe">Complemento: {{item.funcEnderecoComplemento}}</h5>
                        <h5 class="item_detalhe">Cidade: {{item.funcEnderecoCidade}}</h5>
                        <h5 class="item_detalhe">Estado: {{item.funcEnderecoEstado}}</h5>
                        <h5 class="item_detalhe">CEP: {{item.funcEnderecoCep}}</h5>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="detalhes_Matricula">
                        <h5 class="item_detalhe">Telefone: {{item.funcTelefone}}</h5>
                        <h5 class="item_detalhe">E-mail: {{item.funcEmail}}</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="row botoes">
                        <div class="col-lg buttons_general">
                            <a class="btn btn-outline-success btn-lg" href="/listar_funcionario/">Voltar</a>
                        </div>
                        <div class="col-lg buttons_general">
                            <a class="btn btn-outline-danger btn-lg" href="/excluir_funcionario/{{item.pk}}/">Excluir</a>
                        </div>
                        <div class="col-lg buttons_general">
                            <a class="btn btn-outline-warning btn-lg" href="/editar_funcionario/{{item.pk}}/">Editar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}