{% extends 'base_plataforma.html' %}
{% block title%}
Relatório Fácil | Listar Funcionários
{% endblock%}
{% block pagecontent%}
{% load crispy_forms_tags %}
{% load static %}
<div class="container-fluid">
    <div class="area_cadastrar">
        <h2 class="titulo">Lista de Funcionários</h2>
        <hr>
        <div class="table_responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Função</th>
                        <th scope="col">Departamento</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in lista_itens %}
                    <tr>
                        <td>
                            <a href="/funcionario/{{ item.funcRegistro }}">
                                <button class="list_registros">
                                    {{item.funcRegistro}}
                                </button>
                            </a>
                        </td>
                        <td>
                            {{item.funcNome}}
                        </td>
                        <td>
                            {{item.funcFuncao}}
                        </td>
                        <td>
                            {{item.funcDpto}}
                        </td>
                    </tr>
                    {% empty %}
                    <div id=" tituloSemProfessor">
                        <p>SEM DADOS CADASTRADOS.</p>
                    </div>
                    {% endfor %}
                </tbody>

            </table>


        </div>
    </div>
</div>

{% endblock %}