{% extends 'base.html' %}
{% block title%}
Listar Relatorio de Servico
{% endblock%}
{% block pagecontent%}
{% load crispy_forms_tags %}
{% load static %}
<div id="tituloPaginas">
    <p>LISTA DE TIPOS DE SERVIÇO.</p>
</div>

<div class="containerListaProfessores">

    <ul>
        {% for item in lista_itens %}
        <li id="lista">
            <a href="/tipo_servico/{{ item.servRegistro }}" id="listaTipoServico">
                {{item.servRegistro}} - {{item.servDescricao}}
            </a>
        </li>
        {% empty %}
        <div id="tituloSemProfessor">
            <p>SEM DADOS CADASTRADOS.</p>
        </div>
        {% endfor %}
    </ul>

</div>
{% endblock %}
