{% extends 'base_plataforma.html' %}
{% block title%}
Relatório Fácil | Detalhes Relatório de Serviço
{% endblock%}
{% block pagecontent%}
{% load crispy_forms_tags %}
{% load static %}
<div class="container-fluid">
    <div class="area_cadastrar">
        <h2 class="titulo">Detalhes do Cadastro</h2>
        <hr>
        <div class="containerDetalhesCadastro">

            <h1 id="tituloDetalhes">N. {{ item.relatorioNumero }}</h1>

            <div class="form-row">
                <div class="form-group col-lg-4">
                    <div class="detalhes_Matricula">
                        <h5 class="item_detalhe">O.S.: {{ item.relatorioOsNumero }}</h5>
                        <h5 class="item_detalhe">Funcionario: {{item.relatorioFuncRegistro}}</h5>
                        <h5 class="item_detalhe">Data Abertura: {{item.relatorioData}}</h5>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="detalhes_Matricula">
                        <h5 class="item_detalhe">Cliente: {{item.relatorioClienteRegistro}}</h5>
                        <h5 class="item_detalhe">Setor do cliente: {{item.relatorioSetorClicente}}</h5>
                        <h5 class="item_detalhe">Contato do cliente: {{item.relatorioContatoCliente}}</h5>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="detalhes_Matricula">
                        <h5 class="item_detalhe">Tipo de Serviço: {{item.relatorioTipoServico}}</h5>
                        <h5 class="item_detalhe">Descrição: {{item.relatorioDescricao}}</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="row botoes">
                        <div class="col-lg buttons_general">
                            <a class="btn btn-outline-success btn-lg" href="/listar_relatorio/">Voltar</a>
                        </div>
                        <div class="col-lg buttons_general">
                            <a class="btn btn-outline-primary btn-lg" href="#">Arquivar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}