{% extends 'base_plataforma.html' %}
{% block title%}
Relatório Fácil | Detalhes Tipo de Serviço
{% endblock%}
{% block pagecontent%}
{% load crispy_forms_tags %}
{% load static %}
<div class="container-fluid">
    <div class="area_cadastrar">
        <h2 class="titulo">Detalhes do Cadastro</h2>
        <hr>
        <div class="containerDetalhesCadastro">

            <h1 id="tituloDetalhes">N. {{ item.servRegistro }}</h1>

            <div class="form-row">
                <div class="form-group col-lg-4">
                    <div class="detalhes_Matricula">
                        <h5 class="item_detalhe">Tipo de Servico: {{item.servDescricao}}</h5>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="detalhes_Matricula">
                    </div>
                </div>
                <div class="form-group col-lg-4">
                </div>
                <div class="col">
                    <div class="row botoes">
                        <div class="col-lg buttons_general">
                            <a class="btn btn-outline-success btn-lg" href="/relatorio_facil/listar_tipo_servico/">Voltar</a>
                        </div>
                        <div class="col-lg buttons_general">
                            <a class="btn btn-outline-danger btn-lg" href="/relatorio_facil/excluir_tipo_servico/{{item.pk}}/">Excluir</a>
                        </div>
                        <div class="col-lg buttons_general">
                            <a class="btn btn-outline-warning btn-lg" href="/relatorio_facil/editar_tipo_servico/{{item.pk}}/">Editar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}