{% extends 'base_plataforma.html' %}
{% block title%}
Relatório Fácil | Detalhes Veículo
{% endblock%}
{% block pagecontent%}
{% load crispy_forms_tags %}
{% load static %}
<div class="container-fluid">
    <div class="area_cadastrar">
        <h2 class="titulo">Detalhes do Cadastro</h2>
        <hr>
        <div class="containerDetalhesCadastro">

            <h1 id="tituloDetalhes">{{ item.veicModelo }}</h1>

            <div class="form-row">
                <div class="form-group col-lg-4">
                    <div class="detalhes_Matricula">
                        <h5 class="item_detalhe">Registro: {{item.veicRegistro}}</h5>
                        <h5 class="item_detalhe">Placa: {{item.veicPlaca}}</h5>
                        <h5 class="item_detalhe">Renavam: {{item.veicRenavam}}</h5>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="detalhes_Matricula">
                        <h5 class="item_detalhe">Modelo: {{item.veicModelo}}</h5>
                        <h5 class="item_detalhe">Fabricante: {{item.veicFabricante}}</h5>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="detalhes_Matricula">
                        <h5 class="item_detalhe">Ano: {{item.veicAno}}</h5>
                        <h5 class="item_detalhe">Cor: {{item.veicCor}}</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="row botoes">
                        <div class="col-lg buttons_general">
                            <a class="btn btn-outline-success btn-lg" href="/relatorio_facil/listar_veiculo/">Voltar</a>
                        </div>
                        <div class="col-lg buttons_general">
                            <a class="btn btn-outline-danger btn-lg" href="/relatorio_facil/excluir_veiculo/{{item.pk}}/">Excluir</a>
                        </div>
                        <div class="col-lg buttons_general">
                            <a class="btn btn-outline-warning btn-lg" href="/relatorio_facil/editar_veiculo/{{item.pk}}/">Editar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}