.tituloPaginas {
  background-color: transparent;
  color: black;
  font-weight: bold;
  font-size: 40px;
  font-family: "Times New Roman";
  text-align: center;
  margin-top: 2%;
}

.containerHomePage,
.titleHomepage {
  background-color: transparent;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}

.titleDescription {
  background-color: transparent;
  color: black;
  font-weight: bold;
  font-size: 32px;
  font-family: "Times New Roman";
  text-align: center;
  margin-bottom: 5%;
}

.logout {
  font-size: 17px;
  color: #f2ac34;
}

.containerheader {
  background-color: #152039;
}

.opcoes {
  margin-top: 70px;
}

.opcoes_uma {
  margin-top: 45%;
}

.card_internal {
  padding: 7%;
}

.card_external {
  padding: 1%;
}

.area_cadastrar {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.titulo {
  font-weight: bold;
}

.form_cadastro {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 15%;
  margin-bottom: 5%;
}

.table_responsive {
  margin-top: 5%;
  margin-bottom: 5%;
}

.buttons_general {
  margin-bottom: 5%;
}

.text_form {
  font-size: 20px;
  color: #495057;
}

.text_form_descricao {
  font-size: 20px;
}

.text_header_form {
  font-size: 20px;
  text-align: center;
  color: #495057;
}

.header_list {
  background-color: #49505754;
}

.list_registros {
  width: 100%;
  text-align: center;
  border-color: transparent;
  background-color: transparent;
}
.table,
.thead,
.th {
  text-align: center;
}

.textinput,
.textInput,
.form-control {
  font-size: 20px;
  color: #212529;
}

#id_osDescricao {
  height: 300px;
}

.select {
  border-color: lightgrey;
  background-color: transparent;
  font-size: 20px;
  color: #212529;
  height: 38px;
  width: 100%;
  border-radius: 5px;
}

.imgFooter {
  padding: 5px;
}

.containerDetalhesCadastro {
  border-radius: 5px;
  background-color: rgb(245, 244, 244);
  padding: 2%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
  float: center;
}

#tituloDetalhes {
  font-size: 50px;
  margin-bottom: 5%;
}

.detalhes_Matricula {
  float: left;
}

.item_detalhe {
  margin-bottom: 7%;
}

.botoes {
  margin: auto;
  resize: both;
}

.imgFormularioSalvo {
  margin: auto;
  /* float: right; */
  /* margin-left: 5%; */
  /* margin-right: 5%; */
  /* margin-left: 5%; */
  /* float: left; */
  width: 200px;
  resize: both;
}
