{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% block header %}
  {% endblock %}
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <!-- CSS only -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

  <link rel="stylesheet" href="{% static 'autenticacao/css/style.css' %}" type="text/css" />

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
  <script src="{% static 'autenticacao/js/masks.js' %}"></script>

  <nav class="navbar navbar-expand-md navbar-light mb-5 containerheader">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img width="200" height="100" src="{% static 'plataforma/media/logo_00.png' %}" alt="">
      </a>

    </div>
  </nav>

  <title>
    {% block title %}

    {% endblock %}
  </title>


</head>

<body>
  {% block pagecontent %}
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  {% endblock %}
</body>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-5 d-flex align-items-center">
      Desenvolvido com muito esforço por Ramon Gonçalves
    </div>
    <div class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-muted" href="https://www.linkedin.com/in/ramon-gon%C3%A7alves-a900bb190/">
          <div class="imgFooter">
            <img class="bi" height="24" width="24" src="{% static 'autenticacao/media/img_linkedin_01.png' %}" alt="Foto: Github">
          </div>

        </a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="https://github.com/RamonTadeuGoncalves">
          <div class="imgFooter">
            <img class="bi" height="24" width="24" src="{% static 'autenticacao/media/img_github_01.png' %}" alt="Foto: LinkedIn">
          </div>
        </a>
      </li>
    </div>
  </footer>
</div>

</html>