<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'plataforma/css/style.css' %}" type="text/css" />

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <title>
        Relatório Fácil
    </title>

</head>

<body>
    <!-- <div class="tituloPaginas">
        <p>BEM-VINDO</p>
    </div> -->

    <div class="containerHomePage">

        <div class="titleHomepage">
            <img id="imgLogoSplashScreen" src="{% static 'plataforma/media/logo_01.png' %}" alt="Foto: Logo Relatório Fácil">
        </div>

        <div class="titleDescription">
            <h4 class="titleh4">Gerencie funcionários, clientes e veículos em um só lugar.</h4>
            <h4 class="titleh4">Dispare e gerencie suas ordens de serviço.</h4>
            <h4 class="titleh4">Tenha acesso aos relatórios de serviço.</h4>
        </div>

        <div class="titleHomepage">
            <div class="titleDescription">
                <a class="nav-link" href="/auth/logar/">Clique para entrar</a>
            </div>
        </div>



    </div>
</body>

<footer id="footerHomepage">
    <p>Desenvolvido por: Ramon Gonçalves</p>
    <a href="https://www.linkedin.com/in/ramon-gon%C3%A7alves-a900bb190/" target="_blank"><img class="imgFooter" src="{% static 'plataforma/media/img_linkedin_01.png' %}" alt="Foto: Github"></a>
    <a href="https://github.com/RamonTadeuGoncalves" target="_blank"><img class="imgFooter" src="{% static 'plataforma/media/img_github_01.png' %}" alt="Foto: LinkedIn"></a>
</footer>

</html>