<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Confirmado</title>
</head>

<body>
    <h1>Seja bem-vindo {{username}}, sua conta foi criada com sucesso.</h1>
    <br>
    <h2>Sua senha para o primeiro acesso: </h2>
    <h3>"{{ password }}"</h3>
    <span><a href="{{link_ativacao}}">CLIQUE AQUI</a> para ativar sua conta.</span>
    <br>
    <span>
        <p>Caso o link não esteja funcionando, copie e cole o código abaixo no navegador:</p>
    </span>
    <span>
        <p>{{link_ativacao}}</p>
    </span>
</body>

</html>